/* Import Inter font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import 'prose.css';

/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --gray-50: #F9FAFB;
  --gray-100: #F3F4F6;
  --gray-200: #E5E7EB;
  --gray-300: #D1D5DB;
  --gray-400: #9CA3AF;
  --gray-500: #6B7280;
  --gray-600: #4B5563;
  --gray-700: #374151;
  --gray-800: #1F2937;
  --gray-900: #111827;
  --gray-950: #030712;
}

html {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  height: 100%;
  color: var(--gray-900);
}

ul {
  list-style: none;
  padding: 0;
}

body {
  padding: 0 1rem;
}

nav {
  padding: 1rem 0;
  margin-bottom: 1rem;
}

a:hover {
  color: var(--gray-500);
  text-decoration: underline;
}

nav ul {
  display: flex;
  gap: 1rem;
  list-style: none;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}

.intro {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

nav a {
  color: var(--gray-900);
  text-decoration: none;
}

nav a:visited {
  color: var(--gray-900);
}

.intro img {
  border: 1px solid var(--gray-500);
  width: 75px;
  height: 75px;
  border-radius: 100%;
}

.home section {
  margin-bottom: 2rem;
}

.home section h2 {
  margin-bottom: 1rem;
  font-size: 1rem;
}

.home section p {
  margin-bottom: 1rem;
  line-height: 1.4rem;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}

.social-links {
  display: flex;
  gap: 1rem;
  color: var(--gray-900);
}

.social-links a {
  color: var(--gray-900);
}

.social-links a:visited {
  color: var(--gray-900);
}

.post-link {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.post-link__date {
  color: var(--gray-500);
}

.post-link__title {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.post-link__title i {
  display: none;
}

.post {
  margin-bottom: 2rem;
}

.post-date {
  color: var(--gray-500);
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.post-title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  color: var(--gray-900);
}

@media (min-width: 640px) {
  .post-link__title i {
    display: inline-block;
  }

  .intro {
    flex-direction: row;
    align-items: center;
  }

  .intro img {
    width: 75px;
    height: 75px;
    border-radius: 100%;
  }

  .intro p {
    margin-bottom: 0 !important;
  }
}

@media (min-width: 768px) {}

@media (min-width: 1024px) {
  body {
    max-width: 640px;
    margin: 0 auto;
  }
}

@media (min-width: 1280px) {}

@media (min-width: 1536px) {}