---
layout: default
---

<div class="home">
  <section>
    <div class="intro">
      <img src="{{ '/assets/images/profile-headshot.png' | relative_url }}" alt="Zach's profile picture">

      <p>
        I'm a software engineer living in Cincinnati, Ohio with my wife and daughter. I currently work as the lead engineer at <a
href="https://www.maybe.co">Maybe Finance Inc.</a> where we're building an AI-powered platform for business operators to better understand their company finances <em>without</em> complicated spreadsheets.
      </p>
    </div>
  </section>

  <section>
    <h2>Writing</h2>

    <ul>
      {% for post in site.posts %}
      <li class="post-link">
        <span class="post-link__date">{{ post.date | date: "%Y-%m-%d" }}</span>
        <div class="post-link__title">
          <i class="fa-solid fa-arrow-right"></i>
          <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        </div>
      </li>
      {% endfor %}
    </ul>
  </section>

  <section>
    <h2>Current work</h2>

    <p>I work as the lead engineer for <a href="https://maybe.co">Maybe Finance Inc.</a>, where we're building an AI-powered platform for business operators to better understand their company finances <em>without</em> complicated spreadsheets. This is a recent pivot (July 2025) from the <a href="https://github.com/maybe-finance/maybe">OSS personal finance app</a> that I built and maintained for several years (see "Past work").</p>
  </section>

  <section>
    <h2>Past Work</h2>

    <p>Below are projects that I previously worked on or that I've stopped actively updating but still maintain.</p>

    <h3>Maybe Finance (OSS personal finance app)</h3>

    <p>There's a bit of a long story behind this one, but in short, I was the lead maintainer of the OSS Maybe repo which was created in 2023 off the back of a previous version I was involved in building back in 2021. After ~1 year of development, the repo surpassed 50k stars on Github and amassed over 2M package downloads. We had significant traction and momentum on the self-hosted side of things, but unfortunately were not growing our hosted offering's revenue fast enough to justify continued work on the project. The company's founders made the tough decision to stop work on this OSS project and pivot to what I'm now working on.</p>

<p>This had a bittersweet ending for me as I outlined in <a href="/2025/07/24/reflections-on-building-an-OSS-personal-finance-app/">Reflections on Building a COSS Personal Finance App</a>. I still use the self-hosted OSS version of Maybe for my own personal finances and truly believe that given a long enough stretch of runway we had something pretty special here. Fintech is a tough game!</p>

    <h3>The DIY Golfer</h3>

    <p>While I've had far less time to play in recent years, golf has always been a big part of my life. I played
        collegiate golf for The University of Akron from 2013-2017 and had the privilege to see some of the most
      beautiful
      places on earth and compete against some of the best college golfers in the country. It was an incredible
      experience.</p>

    <p>During my time as a collegiate golfer, I created <a href="https://www.thediygolfer.com">The DIY Golfer</a>, a
      golf blog turned golf instructional website that I've been running since 2015. Due to other priorities, I have stopped actively adding content to this site, but it remains a valuable resource visited by hundreds of golfers every day alongside its accompanying YouTube channel.</p>

    <h3>Local Golf Spot</h3>

    <p>In 2022, I started <a href="https://www.localgolfspot.com">Local Golf Spot</a>, a website dedicated to
      helping golfers find the best golf courses in their area, plan golf trips, and get unbiased rankings/reviews from local golfers. Similar to The DIY Golfer, I consider this a passion project and while I don't have immediate commercial plans for it, the recent advancements in LLM models / agent workflows have brought a renewed sense of interest to this project as it's a challenging intersection between statistical modeling and LLM agent workflows / data pipelines.</p>

    <h3>Full Stack Foundations</h3>

    <p>My <a href="https://www.youtube.com/{{ site.youtube_username }}">web development YouTube channel</a> has reached
over 2M students and I've enjoyed receiving countless emails from viewers letting me know they landed their first tech job because of it!</p> 

  <p><a href="https://www.fullstackfoundations.com">Full Stack Foundations</a> is a website I created to host all of
      my web development tutorials in one spot. While I still have a passion for writing software, I've stopped actively creating content for this site. With the recent advancements in AI, I no longer believe that hand-written, detailed software tutorials are the best way for me to teach this craft and I think there is a declining cohort of students with an appetite for this medium of learning. I'm sure I'll publish a few technical articles to the site over the coming years as inspiration strikes, but for now, this site is in maintenance mode.</p>
  </section>
</div>
